spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/navik}
    username: ${DB_USER:myuser}
    password: ${DB_PASSWORD:mypassword}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: false
    properties:
      hibernate:
        hbm2ddl:
          auto: create-drop
        format_sql: false
        use_sql_comments: false

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  cloud:
    aws:
      s3:
        enabled: false

  security:
    oauth2:
      client:
        registration: { }
        provider: { }
